*{
    padding:0;
    margin:0;
}
body{
    font-family: 'Tajawal', sans-serif;
    direction:rtl;
}
.container{
    width:1170px;
    padding-left:15px;
    padding-right:15px;
    margin:auto;
}
/* Start Landing Page */
.landing-page{
    height:100vh;
    background-image:url(../images/04.jpg);
    background-size:cover;
    position:relative;
}
.landing-page .overlay{
    background-color:rgba(0, 0, 0, .3);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
}
.header{
    display:flex;
    z-index:2;
    position: relative;
}
.header .logo{
    flex:1;
    padding:10px;
    font-size:37px;
    font-weight:bold;
    cursor: pointer;
    color:#ff9800;

}
.header ul{
    flex:1;
    padding:15px;
    list-style:none;
    padding-left:0;
    padding-right:60px;
    padding-top:25px;
}
.header ul li{
    display:inline-block;
    padding-right:30px;
}
.header ul li a{
    color:#fff;
    text-decoration:none;
    transition:all .4s ease-in-out;
}
.header ul li a:hover,
.header ul li a.active{
    color:#ff9800;
}
.text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50px, -50px);
    z-index:2;
}
.text h3{
    color:#fff;
    font-size:20px;
    margin-bottom:20px;
}
.text h2{
    color:#fff;
    font-size:30px;
    margin-bottom:20px;
}
.text h2 span{
    color:#ff9800;
}
.text .btn1,
.text .btn2{
    padding:10px 20px;
    border: 2px solid #cec8bf;
    color: #fff;
    font-size: 16px;
    outline:none;
    cursor: pointer;
    margin-right:30px;
}
.text .btn1{
    background-color: #ff9801;
    margin-left:15px;
}
.text .btn2{
    background-color: #ff98011f;
    transition:all .4s ease-in-out;
}
.text .btn2:hover{
    background-color:#ff9801;
}
/* End Landing Page */

/* start about us */
.about-us{
    padding-top:40px;
    background-color:#9695940a;
}
.about-us h1{
    font-weight:bold;
    margin-bottom:10px;
}
.about-us p{
    color: #969594;
    margin-bottom:30px;
}
.about-us .content{
    position: relative;
    display:flex;
}
.about-us .content .notes{
    flex:.3;
    margin-left:30px;
}
.about-us .content .notes .notes1,
.about-us .content .notes .notes2,
.about-us .content .notes .notes3{
    width: 115px;
    height: 90px;
    margin-bottom:30px;
    cursor: pointer;
    text-align:center;
    padding-top:10px;
}
.about-us .content .notes .active{
    background-color: #ff9800;
    position: relative;
}
.about-us .content .notes .notes1::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 75px;
    width: 25px;
    height: 25px;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: #ff9800 transparent #ff9800 transparent;
}
.about-us .content .notes .notes2{
    background-color: rgb(22 101 216 / 74%);
    position: relative;
}
.about-us .content .notes .notes2::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 75px;
    width: 25px;
    height: 25px;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: #548ce2 transparent #548ce2 transparent;
}
.about-us .content .notes .notes3{
    background-color: #868282;
    position: relative;
}
.about-us .content .notes .notes3::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 75px;
    width: 25px;
    height: 25px;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: #868282bf transparent #868282bf transparent;
}
.about-us .content .notes .notes1 i,
.about-us .content .notes .notes1 p,
.about-us .content .notes .notes2 i,
.about-us .content .notes .notes2 p,
.about-us .content .notes .notes3 i,
.about-us .content .notes .notes3 p{
    transform:translate(4px, 25px);
    color:#fff;
    font-size:18px;
}

.about-us .our-mission{
    position: relative;
    display:flex;
}
.about-us .content .our-mission .image{
    flex:1;
}
.about-us .content .our-mission .mission{
    flex:1;
}
.about-us .content .our-mission .mission h1{
    color: #6d6a6a;
}
.about-us .content .our-mission .mission .row{
    display:flex;
}
.about-us .content .our-mission .mission .row i{
    margin-left:15px;
    color:#ff9801;
}
#vision,
#us{
    display:none;
}
/* end about us */

/* start our-services */
.our-services{
    padding-top:40px;
    position: relative;
}
.our-services h1{
    font-weight:bold;
    margin-bottom:10px;
}
.our-services p{
    color: #969594;
    margin-bottom:30px;
}
.our-services .services{
    position:relative;
    display:flex;
    height:150px;
    margin-bottom:30px;
}
.our-services .services .serv1,
.our-services .services .serv2,
.our-services .services .serv3{
    display:flex;
    align-items:center;
    background-color: #e5e5e517;
    border:1px solid #e5e5e5;
    margin-left:20px;
    width:380px;
    border-radius:8px;
    transition:all .5s ease-in-out;
}
.our-services .services .serv1:hover,
.our-services .services .serv2:hover,
.our-services .services .serv3:hover{
   margin-left:30px;
   background-color:#ff9801;
   transform:scale(0.9);
}
.our-services .services img{
    width:300px;
    position:relative;
    top: -15px;
    left: -15px;
}
.our-services .services h3{
    position:relative;
    top:-40px;
    left:-30px;
}
.our-services .services p{
    position:relative;
    top: 30px;
    left: 47px;
    color:#979695;
}
/* end our-services */

/* start department */
.department{
    padding-top:40px;
    position: relative;
}
.department h1{
    font-weight:bold;
    margin-bottom:10px;
}
.department p{
    color: #969594;
    margin-bottom:30px;
}
.department .departs{
    position:relative;
    display:flex;
    justify-content:space-around;
    background:rgba(0, 0, 0, 0.05);
    margin-bottom:20px;
}
.department .departs .departs1,
.department .departs .departs2,
.department .departs .departs3,
.department .departs .departs4,
.department .departs .departs5{
    width:100%;
    text-align:center;
    padding:30px;
    cursor: pointer;
}
.department .departs .departs1:hover,
.department .departs .departs2:hover,
.department .departs .departs3:hover,
.department .departs .departs4:hover,
.department .departs .departs5:hover{
    background-color: #ff9800;
    border:1px solid #da8404;
}
.department .departs .active{
    background-color: #ff9800;
}
.department .department-contains{
    display:flex;
    background:rgba(0, 0, 0, 0.02);
}

.department .department-contains h2{
    padding:20px 20px 10px 0;
    color:#000000c9;
}
.department .department-contains p{
    padding-right:10px;
    line-height:1.7;
}
.department .department-contains .neurology .our-row{
    display:flex;
}
.department .department-contains .neurology .our-row .colom{
    display:flex;
}
.department .department-contains .neurology .our-row .colom .icon{
    width:60px;
    height:50px;
    text-align: center;
    background-color: #ff9801;
    margin-left:20px;
    color:#fff;
    font-size:20px;
    transform:translate(-8px, 1px);
}
.department .department-contains .neurology .our-row .colom .icon i{
    position: relative;
    top: 12px;
}
.department .department-contains .neurology .our-row .colom .para h3{
    color:#00000087;
}
.department .department-contains .neurology .our-row .colom .para p{
    margin-right:-10px;
}
#sur, #den, #oph, #car{
    display:none;
}
/* end department */

/* start our-doctors */
.our-doctors{
    padding-top:40px;
    position:relative;
}
.our-doctors h1{
    font-weight:bold;
    margin-bottom:10px;
}
.our-doctors p{
    color: #969594;
    margin-bottom:30px;
}
.our-doctors .doctors{
    display:flex;
    justify-content:space-between;
}
.our-doctors .doctors .doctor{
   background:rgba(0, 0, 0, 0.05);
   text-align:center;
   cursor: pointer;
   transition:all .4s ease-in-out;
}
.our-doctors .doctors .doctor:hover{
    background-color:#ff9801;
    color:#fff;
 }
.our-doctors .doctors .doctor h3{
    margin-top:10px;
    margin-bottom:7px;
 }
.our-doctors .doctors .doctor span{
    color:#5f5e5d;
 }
/* end our-doctors */

.footer{
    margin-top:40px;
    padding-top:30px;
    position:relative;
    background:#222222;
}
.footer .our-links{
    display:flex;
}
.footer .our-links ul{
    flex:1;
    padding-bottom:40px;
    list-style:none;
}
.footer .our-links h2{
    color:#fff;
    margin-bottom:20px;
}
.footer .our-links ul li{
    color: #989898;
    line-height:1.7;
    margin-bottom:20px;
}
.footer .our-links ul .know-more{
    color: #ff9800;
    cursor: pointer;
    margin-bottom:10px;
    font-size:20px;
}
.footer .our-links ul .put{
    margin-right:40px;
}
.footer .our-links ul .colomn{
    display:flex;
}
.footer .our-links ul .colomn li{
    display:flex;
    flex-direction: column;
    margin-right:40px;
}
.footer .our-links ul .colomn li span{
    margin-bottom:8px;
    cursor: pointer;
}
.footer .our-links ul .colomn li span:hover{
    color: #ff9800;
}

.footer .our-links ul .details li{
    display:flex;
}
.footer .our-links ul .details li i{
    margin-left:10px;
    color: #ff9800;
    font-size:23px;
}
.footer .our-links ul li input{
    width:200px;
    height:30px;
    display:block;
    margin-bottom:20px;
    background-color:#222222;
    color:#fff;
    outline:none;
    border:1px solid #3e3e3e;
}
.footer .our-links ul li textarea{
    display:block;
    margin-bottom:10px;
    background-color:#222222;
    color:#fff;
    outline:none;
    border:1px solid #3e3e3e;
}
.footer .our-links ul li .send{
    padding:10px 18px;
    background-color:#3c3c3c;
    color:#fff;
    outline:none;
    cursor: pointer;
    border:1px solid #3e3e3e;
}